distortion/distortion/obj/Debug
distortion/distortion/bin/Debug
distortion.v12.suo
distortion/obj/Debug
distortion/bin/Debug
osx/distortionTex/distortionTex.xcodeproj/xcuserdata
osx/distortionTex/distortionTex.xcodeproj/project.xcworkspace/xcuserdata
osx/distortionTex/distortionTex.xcodeproj/project.xcworkspace/xcshareddata
